[Desktop Entry]
Type=Application
Name=Wuziqi
GenericName=Wuziqi
Comment=Wuziq game
Keywords=wuziqi
Exec=wuziqi
Icon=${SNAP}/meta/gui/wuziqi.png
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Color=#F5F5F5
StartupNotify=true
